   div.exx {display : none; }
   div.extoc {display : block; }
   div.exxSelected {background-color:#ffffdf;border:2px solid black;}
   div.padding {width:100px;height:600px;}
   div.exPreambleX {display:none;}
   div.exSub {display : none;}
   div.exSubSelected {display:block;}

